$breakpoint-xsmall: 480px;
$breakpoint-small: 600px;
$breakpoint-medium: 840px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1280px;

$color-black: #000;
$color-white: #fff;
$color-primary: #1abc9c;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-divider: #e0e0e0;
$color-background: #fafafa;
